body{
    background-image: url("images/back.PNG");
    color: lightgray;
    padding-left: 300px;
}

.ctsection .form-control{
  
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
}
.contact-fields {
  padding:40px 0px 0px;
}
.phone {
  padding-top: 50px;
}
.phone,
.email,
.working-hours {
  margin-bottom:30px;
}
.phone h2,
.email h2,
.working-hours h2 {
  margin-top:0px;
}
.phone a,
.email a,
.location a {
  color: #fd4f00;
  font-size:18px;
}
.contact-h2 {
  color: #fd4f00;
  padding-top:20px;
}
.contact-fields .form-group {
  margin-bottom: 35px;
}
.contact-info {
  margin-top: -40px;
}
.contact-fields .form-group input,
.contact-fields .form-group textarea {
  font-size: 16px;
}

.btn {
    font-size: 15px;
    padding: 22px 46px 18px;
    line-height: 1;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    position: relative;
    letter-spacing: 0.3px;
}
.btn.btn-accent {
    background: #FFECAB;
    color: black;
    font-family: 'Acme', sans-serif;
    font-size: 17px;
    margin-bottom: 30px;
}
.btn.btn-accent:hover {
    
    font-family: 'Acme', sans-serif; 
    background:#EAB308;
    font-size: 18px;
}

h2 {
  font-family: 'Roboto Slab', serif;
    font-weight: 900;
    color: #faffad;
    font-size: 30px;
    letter-spacing: 1.25px;
}
.ct-head {

    font-weight: 900;
    font-family: 'Acme', sans-serif; 
    color: #EAB308;
    font-size: 35px;
    text-transform: uppercase;
    padding-top: 45px;
    letter-spacing: 1.25px;
    margin-bottom: 5px;
}


.btn.btn-dark {
    background: #111f1d;
    color: white;
}
.btn {
    font-size: 15px;
    padding: 22px 46px 18px;
    line-height: 1;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    position: relative;
    letter-spacing: 0.3px;
}
@media screen and (min-width: 980px) {
  .contact-info {
    padding-left: 110px;
  }
}


