*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins','sans-serif';
}
.container
{
    background: #1d2026;
    min-width: 100%;
    min-height: 100vh;
    color:#fff;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    padding: 20px 8%;
}
nav .menu-img
{
    width: 25px;
    margin-right: 20px;
    cursor: pointer;
}
nav .logo-img
{
    width: 160px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li
{
    list-style:none;
    display: inline-block;
    margin: 0 20px;
}
nav ul li a
{
    text-decoration: none;
    color: #fff;
}
button
{
    background: #efefef;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 0.5s;
}
button span
{
    display: block;
    background: #999;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-left: 2px;
    transition: background 0.5s ,margin-left 0.5s;
}
.lamp-container
{
    position: absolute;
    left: 22%;
    top: -20px; 
    width: 200px;
}
.lamp
{
    width: 90%;
    margin-left: 7px;
}
.light
{
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translateX(-50%);
    width: 650px;
    margin-left: -10px;
    opacity: 0;
    transition: opacity 0.5s;
}
.text-container
{
    max-width: 600px;
    margin-top: 7%;
    margin-left: 50%;
}
.text-container h1
{
    font-size: 80px;
    font-weight: 400;
    text-align: center;
}
.text-container p
{
    text-align: center;
    margin-top: 10px;
}
.text-container a
{
    text-decoration: none;
    background: #00986f;
    padding:14px 40px;
    display: inline-block;
    margin-left: 31%;
    margin-top: 30px;
    font-size: 18px;
    color: #fff;
    border-radius:30px ;
}
.control
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 150px;
}
.control .line
{
    width: 250px;
    height: 4px;
    background: #fff;
    margin: 0 20px;
    border-radius: 2px;
}
.control .line span
{
    width: 50%;
    height: 8px;
    margin-top: -2px;
    border-radius: 4px;
    background: #00986f;
    display:block;
}
.active
{
    background: green;
}
.active span
{
    background: #fff;
    margin-left: 31px;
}
.lamp-on 
{
    opacity: 1;
}