@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0px;
    min-height: 100vh;
    font-family: 'Bebas Neue', cursive;
    /* background-color: #292929; */
    background-image: url("background.gif");
    color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-size: 60px;
    letter-spacing: 5px;
    text-shadow: 0px 0px 10px red;
}

/* loader */

.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(41, 41, 41, 0.5);
}

.loader img {
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

/* Image Container */

.imageContainer {
    margin: 10px 30%;
}

.imageContainer img {
    width: 100%;
    margin-top: 10px;
    box-shadow: 0px 0px 5px red;
    transition: 0.5s;
}

.imageContainer img:hover {
    box-shadow: 0px 0px 10px red;
}

/* Media Query for Large Smartphone */

@media screen and (max-width: 600px) {
    .imageContainer {
        margin: 10px;
    }

    .h1 {
        font-size: 40px;
    }
}