body {
    background-color: rgb(232, 182, 255);
}
#gallery {
    line-height: 0;
    -webkit-column-count:4; /* split it into 5 columns */
    -webkit-column-gap:8px; /* give it a 5px gap between columns */
    -moz-column-count:4;
    -moz-column-gap:8px;
    column-count:4;
    column-gap:8px;
    padding: 10px;
}
#gallery img {
    width: 100% ;
    height: auto ;
    margin-bottom:  8px;
    cursor: pointer;
    border-radius: 12px;
}


.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading > .main_heading {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 200%;
    letter-spacing: 2px;
    word-spacing: 10px;
    color: rgb(11, 0, 77);
}
.heading > .sub_heading {
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    padding-bottom: 10px;
    letter-spacing: 2px;
    word-spacing: 10px;
}