/**************
    GENERAL
**************/
body {
  font-family: 'Roboto Slab', serif;
  overflow-x: hidden;
}

p { line-height: 1.75; }

a {
  color: #e74c3c;
  transition: color .5s;
}
a:hover { color: #e53e2d; }

h2,
h3,
h4,
.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

section { padding: 100px 0; }

section h2.section-heading {
  font-size: 40px;
  margin-bottom: 15px;
  margin-top: 0;
}
@media (max-width: 425px) {
  section h2.section-heading {
    font-size: 35px;
  }
}
@media (max-width: 320px) {
  section h2.section-heading {
    font-size: 30px;
  }
}

.btn-big {
  border-radius: 2em;
  font-size: 18px;
  padding: 20px 40px;
}
@media (max-width: 425px) {
  .btn-big {
    font-size: 12px;
    padding: 15px 30px;
  }
}

.btn-danger {
  background-color: #e74c3c;
  border-color: #e74c3c;
}
.btn-danger:active, 
.btn-danger:focus, 
.btn-danger:hover {
  background-color: #e53e2d !important;
  border-color: #e53e2d !important;
  color: white;
}
.btn-danger:active, 
.btn-danger:focus { 
  box-shadow: 0 0 0 .2rem rgba(231, 76, 60, .5) !important;
}

::selection {
  background-color: #ed7669;
  text-shadow: none;
}
::-moz-selection {
  background-color: #ed7669;
  text-shadow: none;
}

img::selection { background: transparent; }
img::-moz-selection { background: transparent; }

hr {
  border-color: #e53e2d;
  border-width: 3px;
  max-width: 50px;
}

/**********
    NAV
**********/
#mainNav { background-color: #212529; }

#mainNav .navbar-brand {
  color: #e74c3c;
  font-family: 'Kaushan Script', cursive;
}
#mainNav .navbar-brand.active, 
#mainNav .navbar-brand:active, 
#mainNav .navbar-brand:focus, 
#mainNav .navbar-brand:hover { 
  color: #e53e2d;
}

#mainNav .navbar-toggler {
  background-color: #e74c3c;
  border: 0;
  color: white;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  padding: 13px;
  right: 0;
  text-transform: uppercase;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 90%;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 0.75em 0;
}
#mainNav .navbar-nav .nav-item .nav-link.active, 
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #e74c3c;
}

@media (min-width: 992px) {
  #mainNav {
    background-color: transparent;
    border: none;
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top .3s, 
                        padding-bottom .3s;
       -moz-transition: padding-top .3s, 
                        padding-bottom .3s;
            transition: padding-top .3s, 
                        padding-bottom .3s;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

/**********
  HEADER
**********/
header.masthead {
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  height: 100vh;
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

header.masthead .intro-text .intro-subheading {
  font-family: 'Droid Serif', sans-serif;
  font-size: 20px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 5px;
}

header.masthead .intro-text .intro-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }

  header.masthead .intro-text .intro-subheading {
    font-size: 25px;
    line-height: 10px;
  }

  header.masthead .intro-text .intro-heading {
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 50px;
  }
}

@media (max-width: 425px) {
  header.masthead .intro-text .intro-subheading {
    font-size: 10px;
    margin-bottom: 0;
  }

  header.masthead .intro-text .intro-heading {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 30px;
  }
}

/********
  ABOUT
********/
.icon-big { 
  color: #e74c3c !important;
  font-size: 4em;
}

.service-box { max-width: 400px; }

/********
  MENU
********/
#menu * { z-index: 2; }

#menu .menu-item {
  margin: 0 0 15px;
  right: 0; 
}
@media (min-width: 767px) {
  #menu .menu-item { margin: 0 0 30px; }
}

#menu .menu-item .menu-link {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  max-width: 400px;
  position: relative;
}

#menu .menu-item .menu-link .menu-hover {
  background-color: rgba(231, 76, 60, .9);
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
     -moz-transition: all ease 0.5s;
          transition: all ease 0.5s;
}
#menu .menu-item .menu-link .menu-hover:hover { opacity: 1; }

#menu .menu-item .menu-link .menu-hover .menu-hover-content {
  color: #fff;
  font-size: 20px;
  margin-top: -12px;
  position: absolute;
  text-align: center;
  top: 50%;
  height: 20px;
  width: 100%;
}

#menu .menu-item .menu-link .menu-hover .menu-hover-content i { margin-top: -12px; }

#menu .menu-item .menu-caption {
  background-color: #fff;
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
}

#menu .menu-item .menu-caption p {
  font-family: 'Droid Serif', sans-serif;
  font-size: 16px;
  font-style: italic;
  margin: 0;
}

/**************
  MENU MODALS
**************/
.menu-modal { padding-right: 0px !important; }

.menu-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

.menu-modal .modal-content {
  padding: 100px 0;
  text-align: center;
}

.menu-modal .modal-content h2 {
  font-size: 2em;
  margin-bottom: 15px;
}
@media (max-width: 425px) {
  .menu-modal .modal-content h2 { font-size: 1em; }
}

.menu-modal .modal-content img,
.menu-modal .modal-content p { 
  margin-bottom: 30px;
}
@media (max-width: 425px) {
  .menu-modal .modal-content p { font-size: 90%; }
}

.menu-modal .modal-content img {
  border-radius: 1em;
  box-shadow: 0 8px 6px -6px black;
}

.menu-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.menu-modal .modal-content button { cursor: pointer; }

.menu-modal .close-modal {
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 25px;
  width: 75px;
  height: 75px;
}
.menu-modal .close-modal:hover { opacity: .3; }

.menu-modal .close-modal .lr {
  /* Safari and Chrome */
  margin-left: 35px;
  z-index: 1051;
  width: 1px;
  height: 75px;
  /* IE 9 */
  background-color: #212529;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  background-color: #212529;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

/*************
  DOVE SIAMO
*************/
#map { height: 400px; }

/***********
  CONTATTI
***********/
section#contact {
  background-color: #212529;
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("../img/contact-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

section#contact .form-group { margin-bottom: 25px; }

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control { height: auto; }

section#contact .form-group textarea.form-control { height: 248px; }

section#contact .form-control:focus {
  border-color: #e74c3c;
  box-shadow: none;
}

section#contact ::-webkit-input-placeholder,
section#contact :-moz-placeholder,                /* Firefox 18- */ 
section#contact ::-moz-placeholder,               /* Firefox 19+ */
section#contact :-ms-input-placeholder {                       
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #ced4da;
}

/**********
  FOOTER
**********/
footer {
  padding: 25px 0;
  text-align: center;
}

ul.social-buttons li a {
  background-color: #212529;
  border-radius: 100%;
  color: #fff;
  font-size: 20px;
  display: block;
  line-height: 40px;
  outline: none;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
          transition: all 0.3s;
}
ul.social-buttons li a:active, 
ul.social-buttons li a:focus, 
ul.social-buttons li a:hover {
  background-color: #e74c3c;
}

footer span.copyright {
  font-family: 'Montserrat', sans-serif;
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
}

/****************
  SCROLL-TO-TOP
****************/
.scroll-to-top {
  background-color: rgba(33, 37, 41, .5);
  color: #fff;
  display: none;
  line-height: 38px;
  bottom: 15px;
  right: 15px;
  position: fixed;
  width: 40px;
  height: 40px;
  text-align: center;
  z-index: 3;
}
.scroll-to-top:focus,
.scroll-to-top:hover {
  color: #fff;
}
.scroll-to-top:hover { background-color: #212529; }

.scroll-to-top i { font-weight: 900; }






