body{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cal{
  padding: 20px 20px;
  border:2px solid lightgrey;
  box-shadow: 1px 1px 3px lightgrey;
}


#display{
  border:1px solid #de6834;
  width:235px;
  height:35px;
  padding:12px 5px;
  font-size:28px;
  text-align:right;
}

.pad{
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.op_pad{
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.op_pad button{
  background-color: #fa7202;
  border:none;
  padding: 10px 25px;
  color: #FFFFFF;
}

.pad button{
  padding:10px 22px;
}

.num_pad{
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.one,.two,.three,.four{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

#equate{
  margin-top: 5px;
  background-color: #ffe4cf;
  width: 21%;
  height: 185px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(255,165,0);
  border:none;
  padding: 5px 0;
}