<div class="container2">

    <div class="rain">
        <div class="drop"></div>
        <div class="waves">
            <div></div>
            <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="rain">
        <div class="drop"></div>
        <div class="waves">
            <div></div>
            <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="rain">
        <div class="drop"></div>
        <div class="waves">
            <div></div>
            <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="rain">
        <div class="drop"></div>
        <div class="waves">
            <div></div>
            <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="rain">
        <div class="drop"></div>
        <div class="waves">
            <div></div>
            <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="rain">
        <div class="drop"></div>
        <div class="waves">
            <div></div>
            <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="rain">
        <div class="drop"></div>
        <div class="waves">
            <div></div>
            <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="rain">
        <div class="drop"></div>
        <div class="waves">
            <div></div>
            <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="rain">
        <div class="drop"></div>
        <div class="waves">
            <div></div>
            <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

</div>