.header{
    background-image: url('./images/banner.png');
    width: 100%;
    height: 30vh;
    background-repeat:repeat-x ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.cards-container{
    background-image: url('./images/background.png');
    background-repeat:round;
    backdrop-filter: blur(5px);
    border-radius: 10px;
}
.cards-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards-wrapper > .col {
    z-index: 10;
}




#footer{
    background-color: #9ad5e7;
    color:white;
}

hr{
  margin-bottom: 5px ;
  border: 2px solid white;
}

.BackToTop{
  margin-top: 30px;
  margin-left: 50%;
}

.social{
    padding-left: 37%;
}

.social-media{
    margin: 30px 20px;
}

.social-media:hover{
    color: #4e8db4;
}

.icon{
    margin-bottom: 1rem ;
    margin: 20px 15px;
}

.icon:hover{
    color: #dce9f1;
}



