* {
  box-sizing: border-box;
}

body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#000000;
}
 .old{
  background-color: #ffffff;
 }

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
  border-radius: 50px;
}

.dark{
  padding:15px;
  background:#000000;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}


header{
  background:#000000;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}


#showcase{
  min-height:400px;
  background:url('img/food.jpg') no-repeat 0 -100px;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  color: #e8491d;
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

#showcase1{
  width:100%;
  height:100%;
  background:#000000;
  text-align:center;
  
  color:#ffffff;
}

#showcase1 p{
  font-size:20px;
} 
#newsletter{
  padding:15px;
  color:#ffffff;
  background:#000000;
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}


aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}


article#main-col{
  float:left;
  width:65%;
}


ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer{
  padding-bottom:20px;
 
  color:#ffffff;
  background-color:#e8491d;
  text-align: center;
}


@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    padding: 0 3% 0 4%;
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    font-size: 23px;
    margin-top:75px;
  }

  #newsletter button, .quote button{
    display:inline-block;
    width:100%;
  }

  #newsletter .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}
@media (max-width: 320px){
  header #branding{
    font-size: 13.5px;
  }
}
 .new {
  background-color: #ed852f;
  padding: 15px;
  border-radius: 20px;
 }
 .donate{
  height:38px;
  background:#e8491d;
  color:#ffffff;
  border-radius: 50px;
  padding: 15px;
 }
 .help{
  background-color: #ffffff;
  padding:5px;
  color: #000000;
  border-radius: 10px;
  margin-top: 300px;
 }
 .help1{
  background-color: #ffffff;
  color: #000000;
  border-radius: 20px;
  text-align: center;
  padding:20px;
  margin-top:30px;
  margin-bottom: 20px;
 }
 